li {
    list-style-type: none;
}

.p_header {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 40px;
    margin-left: 20px;
}

@media (min-width: 768px) {
    .p_header {
        font-size: 4rem;
    }
}

.project-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.project-card {
    position: relative;
    display: block;
    overflow: hidden;
    border: 4px solid #575757;
    border-radius: 12px;
    padding: 16px;
    margin: 20px 0;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* .project-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.project-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: background 0.6s ease;
}

.project-title {
    /* position: absolute; */
    width: 70%;
    margin: 0;
    transform: translateY(0px);
    transition: transform 0.6s ease, -webkit-text-stroke 0.6s ease;
    font-size: 1.5rem;
    font-weight: bold;
    paint-order: stroke fill;
    -webkit-text-stroke: 0.2rem rgb(255, 255, 255);
    /* text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); */
    color: #333;
    inset: 0;
}

@media (min-width: 768px) {
    .project-title {
        font-size: 3rem;
    }
}

.project-description {
    opacity: 0;
    margin: 10px 0 0;
    max-width: 70%;
    transform: translateY(10px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    pointer-events: none;
}

.project-card:hover .project-overlay {
    background: rgba(0, 0, 0, 0.6);
}

.project-card:hover .project-description {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 60ms;
    pointer-events: auto;
}

.project-card:hover .project-title {
    transform: translateY(-50px);
    -webkit-text-stroke: 0.2rem rgb(162, 162, 162);
}