li {
    list-style-type: none;

}

.project-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.project-card {
    position: relative;
    display: block;
    overflow: hidden;
    border: 4px solid #575757;
    border-radius: 12px;
    padding: 16px;
    margin: 20px 0;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* .project-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.project-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: background 0.6s ease;
}

.project-title {
    /* position: absolute; */
    margin: 0;
    transform: translateX(0px);
    transition: transform 0.4s ease;
    font-size: 3rem;
    font-weight: bold;
    stroke: #575757;
    color: #333;
    inset: 0;
}

.project-description {
    opacity: 0;
    margin: 10px 0 0;
    max-width: 45%;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;

}

.project-card:hover .project-overlay {
    background: rgba(0, 0, 0, 0.6);
}

.project-card:hover .project-description {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 60ms;
    pointer-events: auto;
}

.project-card:hover .project-title {
    transform: translateX(-100px);
}